body {
    font-family: 'Lolzinho', serif;
    background-image: url(../imagens/planoDeFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: gold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
}

.carta {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
    position: absolute;
}

.carta.escolhido {
    opacity: 1;
    z-index: 1;
}

.lista-personagens {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.carta .nome {
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
    background: radial-gradient(circle, #f3e2c8,
            #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    border-radius: 4px;
}

.carta .nivel {
    width: 20px;
    height: 20px;
    background-image: url(../imagens/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.carta .dificuldade {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}

.carta .imagem-champ {
    max-width: 260px;
    align-self: center;
}

.carta .informacoes {
    border-radius: 5px;
    max-width: 300px;
    color: #000000;
    background: radial-gradient(circle, #f3e2c8,
            #e4cfa5, #c4a57a);
    border: 2px solid #a67c52;
    text-align: left;
    line-height: 1.5;
    padding: 5px;
}

.carta .informacoes .funcao {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.carta .informacoes .funcao span {
    font-size: 13px;
}

.carta .informacoes .historia {
    border-bottom: 1px solid #000000;
    padding: 10px;
    max-height: 95px;
    overflow-y: scroll;
    font-size: 13px;
}

.fundo-1 {
    background: url(../imagens/fundo1.png);
}

.fundo-2 {
    background: url(../imagens/fundo2.png);
}

.fundo-3 {
    background: url(../imagens/fundo3.png);
}

.fundo-4 {
    background: url(../imagens/fundo4.png);
}

.fundo-5 {
    background: url(../imagens/fundo5.png);
}

.fundo-6 {
    background: url(../imagens/fundo6.png);
}

.fundo-7 {
    background: url(../imagens/fundo7.png);
}

.btn-seta {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: goldenrod;
}

.btn-seta.btn-voltar{
    transform: rotateY(180deg);
}

.btn-seta:hover{
    background-color: aqua;
}

body::-webkit-scrollbar-track{
    background-color: #c08057;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c08057;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c08057;
}

